<!DOCTYPE html>

<head>
    <script src="https://kit.fontawesome.com/ca361125c8.js"></script>
    <title>Jcoin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="static/styles/index.css">
</head>
<body>
<div class="jumbotron vertical-center">
    <div class='mx-auto container mainbox'>
        <a href="/jfund"><img src="static/images/piggy_bank.png" style="width: 30%" ; class=" mx-auto d-block">
        </a><br>
        <h3 class="text-center">Welcome to Jcoin</h3><br>
        <div class="card row align-items-center text-center">
            <div class="card-body col">
                <p class="card-text">Convert your financial payments into an informative dashboard</p>
                <div id="form" >
                    <div id="option-group">
                        <a href="#" id="btn-upload" class="btn btn-outline-primary"><i class="fas fa-file-upload"></i>
                            Upload CSV</a>
                        <br>
                        or <a href="/dashboard" class="skip-csv">skip</a>
                    </div>
                    <div id="input-group" style="display:none;">
                        <div class="input-group input-group-sm">
                                <input type="text" id='input-csv' class="form-control input-csv" placeholder="Choose file" aria-describedby="fileHelp" required>
                                <div class="valid-feedback order-last">File is valid</div>
                                <div class="invalid-feedback order-last">File is required</div>
                                <label class="input-group-append mb-0">
                                  <span class="btn btn-primary input-file-btn">
                                    Browse… <input accept=".csv" type="file" hidden>
                                  </span>
                                </label>
                              </div>
                              <small id="fileHelp" class="form-text text-muted">Upload a CSV File</small><br>
                        <a href="#" id="btn-back" style="display:none;" class="btn btn-primary">Back</a>
                        <input type="submit" id="btn-submit" style="display:none;" value="Submit" class="btn btn-success">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>